<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="logPath">./logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="MainLogFile"
                     filename="${logPath}/dit_logging_allmessages.log"
                     filePattern="${logPath}/logTutorial.log-%d{yyyy-MM-dd}-%i" append="true">
            <PatternLayout
                    pattern="%d{DATE} %-7p [%c{-2}] %m %n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="200 MB" />
            </Policies>
            <DefaultRolloverStrategy max="30"
                                     fileIndex="min" />
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-3level %logger{36} - %msg%n" />
        </Console>

    </Appenders>
    <Loggers>
        <Logger name="uk.axone" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="MainLogFile" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>